ABOUT BRIGGS HEALTHCARE

Briggs Healthcare has been a trusted partner and a leading provider of a variety of products and services to the long-term care, assisted living, home care, hospice, hospital, physician and clinics and other health care markets for more than 70 years. Briggs serves more than 50,000 customers with:

    - eBriggs – the Briggs forms you know and trust in an electronic format through EMR providers
    - Data submission and analytic capabilities through our subsidiary SimpleLTC
    - Proprietary medical forms and documentation systems
    - Durable and disposable medical supplies
    - Charting systems and products
    - Education and staff training materials and professional reference products

Backed by clinical experience and regulatory knowledge, the company develops and markets products that are designed to improve clinical outcomes and reduce operating costs.