<div class="table-cms">
  <table class="table">
    <thead>
      <tr>
        <th>Trade Show</th>
        <th>Location</th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>IHCA</td>
        <td>Des Moines, IA</td>
        <td>September 25</td>
      </tr>
      <tr>
        <td>AHCA</td>
        <td>Las Vegas, NV</td>
        <td>October 16 - 17</td>
      </tr>
      <tr>
        <td>NAHC</td>
        <td>Long Beach, CA</td>
        <td>October 15 - 17</td>
      </tr>
      <tr>
        <td>Leading Age</td>
        <td>New Orleans, LA</td>
        <td>October 29 - November 1</td>
      </tr>
      <tr>
        <td>THCA Annual Conference</td>
        <td>Houston, TX</td>
        <td>November 6 - 9</td>
      </tr>
      <tr>
        <td>IAHC</td>
        <td>Des Moines, IA</td>
        <td>November 7 - 8</td>
      </tr>
      <tr>
        <td>LNHA</td>
        <td>New Orleans</td>
        <td>November 8 - 9</td>
      </tr>
      <tr>
        <td>CAHF 67th Annual Convention & Expo</td>
        <td>Palm Springs, CA</td>
        <td>November 12 - 15</td>
      </tr>
    </tbody>
  </table>
</div>