**/.nsdeploy
**/payload.json
**/DeployDistribution/
**/LocalDistribution/
**/node_modules
**/.idea/
**/scratchpad/
**/npm-debug.log
**/temp/
**/package-lock.json
**/tmp
**/.jshintrc
**/javascript-libs.js
**/Modules/extensions/_template/
**/Modules/custom/CodeInspector/
**/.yo-rc.json
**/.DS_Store
**/SuiteCommerce_Help.md
**/.vscode/settings.json
Theme/Workspace/Suite_Commerce_Base_Theme/manifest.json
Theme/Workspace/Horizon/manifest.json