/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-item-cell-grid {
	@extend .item-cell;
	margin-bottom: 0;

	&:hover {
		[data-view="ItemDetails.Options"] {
			display: block;
		}
	}
}

.facets-item-cell-grid-quick-view-wrapper {
	@extend .item-cell-quick-view-wrapper;
}

.facets-item-cell-grid-quick-view-link {
	@extend .item-cell-quick-view-link;
}

.facets-item-cell-grid-image-wrapper {
	position:relative;
	text-align:center;

	[data-view="ItemDetails.Options"] {
		position: absolute;
		bottom: 30px;
		right: 0;
		text-align: left;
		background: white;
		display: none;

		.item-views-option-color, .item-views-option-dropdown-color {
            margin: 10px;
            min-width: 95px;
		}

        .item-views-option-dropdown-color select {
            @extend .input-small;
        }
	}
}

.facets-item-cell-grid-link-image {}

.facets-item-cell-grid-quick-view-icon {}

.facets-item-cell-grid-stock {
    display: inline-block;
    float: right;
}

.facets-item-cell-grid-add-to-cart-itemid {}

.facets-item-cell-grid-details,
.facets-item-cell-table-details {
    display: flex;
    flex-direction: column;
	text-align: left;
	padding: $sc-base-padding * 4;

    @media (min-width: $screen-md-min) {
        display: block;
        padding: $sc-base-padding * 6;
        margin-bottom: $sc-base-padding * 6;
    }

    // add to cart on facets
    [data-view="AddToCart"] {
        @media (min-width: $screen-sm-min) {
            display: inline-block;
        }
    }
    .cart-add-to-cart-button-container {
        padding-left: 0;
        padding-right: 0;

        @media (min-width: $screen-sm-min) {
            float: none;
            width: 100%;
            margin-left: 5px;
        }
        @media (min-width: $screen-md-min) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.facets-item-cell-grid-image {
	max-width: 100%;
}

.facets-item-cell-grid-title {
	@extend .item-cell-title;
}

.facets-item-cell-grid-price {
	@extend .small-price;
}

.facets-item-cell-grid-rating {
	text-align:center;
	display: inline-block;
    padding: $sc-base-padding 0;
    order: 2;
    margin-bottom: $sc-padding-medium;

    @media (min-width: $screen-desktop) {
        float: right;
        margin-bottom: 0;
    }
}

.facets-item-cell-grid .item-details-option-color-tiles-container {
	@extend .color-picker-sm;
}

.facets-item-cell-grid .item-details-option-color-label {
	display:none;
}

.facets-item-cell-grid {
	.global-views-star-rating-area {
		margin-bottom:$sc-small-margin;
	}
}

.facets-item-cell-grid-add-to-cart-quantity {
	@extend .input-small;

	display: inline-block;
	float: right;
	color: $sc-theme-color;
	background-color: $sc-color-theme-background-light;
	border: 1px solid $sc-color-theme-background-light;
	max-width: 80px;
	outline: none;
	margin-right: $sc-small-margin;

	@media (max-width: 1320px) {
		max-width: none;
		width: calc(50% - 5px);
		float: left;
	}

    @media (max-width: $screen-md-min) {
        width: calc(40% - 5px);
    }
}

.facets-item-cell-grid-add-to-cart-button {
	@extend .button-primary;
	@extend .button-medium;
	float: right;

	@media (max-width: 1320px) {
		width: calc(50% - 5px);
		float: right;
	}

    @media (max-width: $screen-md-min) {
        width: calc(60% - 5px);
    }
}

.facets-item-cell-grid-add-to-cart {
	@media (max-width: 1320px) {
		padding-top: $sc-base-padding * 3;
		clear: both;
	}
}
