/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-details-options-selector-reference-container {
	padding:$sc-base-padding * 3 0;
}
.product-details-options-selector-reference {
	@extend .input-required;
}

.product-details-options-selector {
	font-family: $sc-theme-secondary-font;
}

.product-details-options-selector-content {
	font-family: $sc-theme-secondary-font;
	height: 100%;
	margin-top:0;
	background: $sc-color-theme-background-light;

	.pdp-detail-options-content-wrapper{
		padding: $sc-base-padding * 4;
	}

	@media (min-width: $screen-sm-min) {
		background: transparent;
		padding-bottom: 0;
		overflow:hidden;
	}

	.item-view-lead-price {
		@extend .large-price;
	}
}

.product-details-options-selector-content-price,
.product-details-options-selector-content-stock {
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.product-details-options-selector-option-container {
	#custcol_ava_incomeaccount-container,
	#custcol_ava_udf2-container,
	#custcol_ava_pickup-container,
	#custcol_ava_taxcodemapping-container,
	#custcol_ava_upccode-container,
	#custcol_ava_item-container,
	#custcol_ava_udf1-container,
	#custcol_briggs_include_children-container,
	#custcol_item_inventory_owner-container,
	#custcol_quantity_unrated_column-container,
	#custcol_quantity_level_column-container,
	#custcol_quantity_level-container,
	#in-modal-custcol_ava_incomeaccount-container,
	#in-modal-custcol_ava_udf2-container,
	#in-modal-custcol_ava_pickup-container,
	#in-modal-custcol_ava_taxcodemapping-container,
	#in-modal-custcol_ava_upccode-container,
	#in-modal-custcol_ava_item-container,
	#in-modal-custcol_ava_udf1-container,
	#in-modal-custcol_briggs_include_children-container,
	#in-modal-custcol_item_inventory_owner-container,
	#in-modal-custcol_quantity_unrated_column-container,
	#in-modal-custcol_quantity_level_column-container,
	#in-modal-custcol_quantity_level-container{
		display: none;
	}
}
